<ion-view view-title="Update Tutor">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Họ</span>
        <input type="text" placeholder="Placeholder 1">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Tên</span>
        <input type="text" placeholder="Placeholder 2">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Ngày Sinh</span>
        <input type="text" placeholder="Placeholder 2">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Giới Tính</span>
        <input type="text" placeholder="Placeholder 2">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Công Việc Hiện Tại</span>
        <input type="text" placeholder="Placeholder 2">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Vi trí</span>
        <input type="text" placeholder="Placeholder 2">
      </label>
      <label class="item item-input item-stacked-label">
        <button class="button">Submit</button>
      </label>
    </div>
  </ion-content>
</ion-view>
