<ion-view view-title="Register">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="*********">
      </label>
      <label class="item item-input item-stacked-label">
        <div class="input-label">
          Role
        </div>
        <select>
          <option>Tutor</option>
          <option selected>Parent/Student</option>
        </select>
      </label>
      <label>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="file" placeholder="Avatar">
          </label>
          <button class="button button-small">
            Add
          </button>
        </div>
      </label>
    </div>
    </label>

  </ion-content>
</ion-view>
