<ion-view view-title="Tìm Gia Sư ở Xung Quanh">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Điền Vị Trí</span>
        <input type="text" placeholder="Xã-Phố, Huyện-Phường, Quận , Tỉnh" ng-model="input.location">
      </label>
      <label class="item-input item-select">
        <div class="input-label">
          Khoảng Cách
        </div>
        <select ng-model="input.distance" >
          <option ng-repeat="option in distances" value="{{option.value}}" placeholder="xxxx">{{option.name}}</option>
        </select>

      </label>
      <label class="item item-input item-stacked-label">
        <button class="button" ng-click="searchParent()">  Tìm Kiếm với vị trí nhập vào </button>
      </label>
    </div>
    <label class="item item-input item-stacked-label">
      <button class="button" ng-click="searchCurrentLocation()"> Tìm Kiếm với vị trí hiện tại</button>
    </label>
    <ion-list>
      <ion-item ng-repeat="post in resultPosts.data" >
        <a class="list card stable-bg" href="#/app/tutor-posts/{{post.id}}">
          <div class="item item-avatar">
            <img src="{{post.imagePost}}">
            <h2>{{post.tutor.name}}<br></h2>
            <h2>{{post.tutor.birth}}</h2>
            <h2>{{post.tutor.currentJob}}</h2>
          </div>
          <div class="item item-body">
            <a class="item item-icon-left">
              <i class="icon ion-university"></i> {{post.subject}}
            </a>
            <a class="item item-icon-left">
              <i class="icon ion-university"></i> {{post.times}}
            </a>
            <a class="item item-icon-left">
              <i class="icon ion-clock"></i> {{post.timePost}}
            </a>
            <a class="item item-icon-left">
              <i class="icon ion-card"></i> {{post.salaryDesired}}
            </a>
            <a class="item item-icon-left">
              <i class="icon ion-information-circled"></i> {{post.about}}
            </a>
            <a class="item item-icon-left">
              <i class="icon ion-ios-book"></i> {{post.classLevel}}
            </a>
            <a class="item item-icon-left">
              <i class="icon ion-ios-location"></i> {{post.locationDesired}}
            </a>

          </div>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
