<ion-view view-title="Danh sách các lớp cần Gia Sư">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="post in postParents"  href="#app/parent-posts/{{post.id}}" >
        <p>{{post.id}}</p>
        <p>{{post.classRequirement}}</p>
        <p>{{post.contact}}</p>
        <p>{{post.salaryDesired}}</p>
        <p>{{post.classLevel}}</p>
        <p>{{post.locationDesired}}</p>
        <p>{{post.period}}</p>
        <p>{{post.times}}</p>
        <p>{{post.subject}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
