<ion-view view-title="Danh Sách Gia Sư">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <ion-list class="animate-ripple">
      <ion-item ng-repeat="post in postTutors" >
        <a class="item item-thumbnail-left" href="#/app/tutor-posts/{{post.id}}">
          <img src=" {{post.imagePost}}">
          {{post.id}} <br>
          {{post.subject}} <br>
          {{post.times}} <br>
          {{post.timePost}} <br>
          {{post.salaryDesired}} <br>
          {{post.locationDesired}} <br>
          {{post.about}} <br>
          {{post.classLevel}} <br>
          {{post.locationDesired}} <br>
          {{post.tutor.name}} <br>
          {{post.tutor.birth}} <br>
          {{post.tutor.currentJob}} <br>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
