<ion-view view-title="Tutor Post">
  <ion-content>
    <h1>Tutor Post</h1>
    <div class="list card stable-bg">
      <div class="item item-avatar">
        <img src="{{postDetail.imagePost}}">
        <h2>{{postDetail.id}} </h2>

      </div>
      <div class="item item-body">
        {{postDetail.id}} <br>
        {{postDetail.subject}} <br>
        {{postDetail.times}} <br>
        {{postDetail.timePost}} <br>
        {{postDetail.salaryDesired}} <br>
        {{postDetail.locationDesired}} <br>
        {{postDetail.classRequirement}} <br>
        {{postDetail.classLevel}} <br>
        {{postDetail.locationDesired}} <br>
      </div>

    </div>

  </ion-content>
</ion-view>

